/* line 3, ../sass/main.scss */
[class*='colspan-'] {
  float: none;
  left: auto;
  margin-right: 0;
  width: 100%;
  margin-bottom: 0.83333%;
}

/* line 10, ../sass/main.scss */
.grid-row {
  margin-bottom: 0;
}

/* line 13, ../sass/main.scss */
.grid-row:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 700px) {
  /* line 17, ../sass/main.scss */
  .grid-row {
    margin-bottom: 0.83333%;
  }

  /* line 20, ../sass/main.scss */
  [class*='colspan-'] {
    position: relative;
    left: 0.41667%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 0.83333%;
    margin-bottom: 0;
  }

  /* line 30, ../sass/main.scss */
  [class*='colspan-']:last-of-type {
    margin-right: 0;
  }

  /* line 33, ../sass/main.scss */
  .colspan-1 {
    width: 7.5%;
  }

  /* line 36, ../sass/main.scss */
  .colspan-2 {
    width: 15.83333%;
  }

  /* line 39, ../sass/main.scss */
  .colspan-3 {
    width: 24.16667%;
  }

  /* line 42, ../sass/main.scss */
  .colspan-4 {
    width: 32.5%;
  }

  /* line 45, ../sass/main.scss */
  .colspan-5 {
    width: 40.83333%;
  }

  /* line 48, ../sass/main.scss */
  .colspan-6 {
    width: 49.16667%;
  }

  /* line 51, ../sass/main.scss */
  .colspan-7 {
    width: 57.5%;
  }

  /* line 54, ../sass/main.scss */
  .colspan-8 {
    width: 65.83333%;
  }

  /* line 57, ../sass/main.scss */
  .colspan-9 {
    width: 74.16667%;
  }

  /* line 60, ../sass/main.scss */
  .colspan-10 {
    width: 82.5%;
  }

  /* line 63, ../sass/main.scss */
  .colspan-11 {
    width: 90.83333%;
  }

  /* line 66, ../sass/main.scss */
  .colspan-12 {
    width: 99.16667%;
  }

  /* line 69, ../sass/main.scss */
  .grid-row:after {
    content: "";
    display: table;
    clear: both;
  }
}
